@page "/Contact"

<PageHeader title="Contact Us" img="./Assets/head1.jpg"   />


<div class="app__flex page__container">
  <div class="app__container-width contact__form">
    <div class="col contact__details">
      <p class="sub-title bold">Contact with our team </p>
      <h1 class="head-text">Lets get in touch.</h1>
      <p class="p-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi itaque, reiciendis, unde error, architecto deleniti corrupti ipsa quam accusantium sapiente amet possimus? Illum, vero! Et nisi voluptates tenetur eum eligendi.</p>
      <h2>Our Detials</h2>
      <ul>
        <li class="p-text"> <i class="fa-solid fa-location"></i> 423 Collington Road, Melbourne 3025</li>
        <li class="p-text"> <i class="fa-solid fa-envelope"></i>chris@sekureSecurity.com.au</li>
        <li class="p-text"> <i class="fa-solid fa-phone"></i> 03-872-431-589</li>
      </ul>
    </div>
    <div class="col contact__form-container">
      <div class="row">
        <div class="input__container">
          <p class="p-text">First Name</p>
          <input type="text">
        </div>
           <div class="input__container">
          <p class="p-text">Last Name</p>
          <input type="text">
        </div>
      </div>
      <div class="input__container">
        <p class="p-text">Email</p>
        <input type="text">
      </div>
       <div class="input__container">
        <p class="p-text">Message</p>
        <textarea  cols="30" rows="10"></textarea>
      </div>
      <button class="btn btn-green">
        Send Message
      </button>
    </div>
  </div>
</div>

@code {

}