@page "/Services"

<PageHeader title="Our Services" img="./Assets/head2.jpg" />
<div class="page__container app__flex">
  <div class="app__container-width">
    <p class="sub-title bold">Check out our services.</p>
    <h1 class="head-text">What do we provide for you?</h1>
    <p class="p-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt quaerat quisquam delectus.
      Repellendus necessitatibus quod earum, itaque deleniti, maiores cupiditate ratione corporis dicta est numquam
      soluta illo rem, laudantium unde!</p>
    <div class="services__grid">
      <ServiceCard title="Security Cameras" subTitle="We install security cameras for you"
        description="itaque deleniti, maiores cupiditate ratione corporis dicta est numquam soluta illo rem, laudantium unde!corporis dicta est numquam soluta illo rem, laudantium unde!"
        img="./Assets/securityImage.jpg" />
      <ServiceCard title="Security Cameras" subTitle="We install security cameras for you"
        description="itaque deleniti, maiores cupiditate ratione corporis dicta est numquam soluta illo rem, laudantium unde!corporis dicta est numquam soluta illo rem, laudantium unde! "
        img="./Assets/mattersImage.jpg" />
      <ServiceCard title="Security Cameras" subTitle="We install security cameras for you"
        description="itaque deleniti, maiores cupiditate ratione corporis dicta est numquam soluta illo rem, laudantium unde!corporis dicta est numquam soluta illo rem, laudantium unde!"
        img="./Assets/securityImage.jpg" />
         <ServiceCard title="Security Cameras" subTitle="We install security cameras for you"
        description="itaque deleniti, maiores cupiditate ratione corporis dicta est numquam soluta illo rem, laudantium unde!corporis dicta est numquam soluta illo rem, laudantium unde!"
        img="./Assets/securityImage.jpg" />
         <ServiceCard title="Security Cameras" subTitle="We install security cameras for you"
        description="itaque deleniti, maiores cupiditate ratione corporis dicta est numquam soluta illo rem, laudantium unde!corporis dicta est numquam soluta illo rem, laudantium unde!"
        img="./Assets/securityImage.jpg" />
         <ServiceCard title="Security Cameras" subTitle="We install security cameras for you"
        description="itaque deleniti, maiores cupiditate ratione corporis dicta est numquam soluta illo rem, laudantium unde!corporis dicta est numquam soluta illo rem, laudantium unde!"
        img="./Assets/securityImage.jpg" />
    </div>
  </div>
</div>
@code {

}