@page "/Services"

<PageHeader title="Our Services" img="./Assets/head2.jpg" />
<div class="page__container app__flex">
  <div class="app__container-width">
    <p class="sub-title bold">Check out our services.</p>
    <h1 class="head-text">What do we provide for you?</h1>
    <p class="p-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt quaerat quisquam delectus.
      Repellendus necessitatibus quod earum, itaque deleniti, maiores cupiditate ratione corporis dicta est numquam
      soluta illo rem, laudantium unde!</p>
    <div class="services__grid">
      <ServiceCard title="Security Cameras" subTitle="We install security cameras for you"
        description="itaque deleniti, maiores cupiditate ratione corporis dicta est numquam soluta illo rem, laudantium unde!corporis dicta est numquam soluta illo rem, laudantium unde!"
        img="./Assets/securityImage.jpg" icon="fa-eye" />
      <ServiceCard title="Door strikes & systems" subTitle="Security for all types of doors & wind"
        description="itaque deleniti, maiores cupiditate ratione corporis dicta est numquam soluta illo rem, laudantium unde!corporis dicta est numquam soluta illo rem, laudantium unde! "
        img="./Assets/door.jpg" icon="fa-key" />
      <ServiceCard title="Access control systems" subTitle="Install all your access control needs"
        description="itaque deleniti, maiores cupiditate ratione corporis dicta est numquam soluta illo rem, laudantium unde!corporis dicta est numquam soluta illo rem, laudantium unde!"
        img="./Assets/access.jpg" icon="fa-fingerprint" />
         <ServiceCard title="PIR home Alarm systems" subTitle="We install PIR security alarm systems" icon="fa-shield-halved"
        description="itaque deleniti, maiores cupiditate ratione corporis dicta est numquam soluta illo rem, laudantium unde!corporis dicta est numquam soluta illo rem, laudantium unde!"
        img="./Assets/home.jpg" />
         <ServiceCard title="Apartment access control" subTitle="Complete any large scale apartment project"
        description="itaque deleniti, maiores cupiditate ratione corporis dicta est numquam soluta illo rem, laudantium unde!corporis dicta est numquam soluta illo rem, laudantium unde!"
        img="./Assets/apartment.jpg" icon="fa-building-shield" />
         <ServiceCard title="Confidential documents" subTitle="Keep your documents secure with us"
        description="itaque deleniti, maiores cupiditate ratione corporis dicta est numquam soluta illo rem, laudantium unde!corporis dicta est numquam soluta illo rem, laudantium unde!"
        img="./Assets/details.jpg" icon="fa-id-card-clip" />
    </div>
  </div>
</div>
@code {

}