@page "/Products"



<PageHeader title="Products" img="./Assets/head3.jpg" />

<div class="page__container app__flex">
  <div class="app__container-width">

    <p class="sub-title bold">View a list of our products</p>
    <h1 class="head-text">Our Products</h1>
    <p class="p-text ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam libero doloribus, voluptatem
      aspernatur suscipit quidem rem inventore est, facere ab quod officia ad. Iste, eveniet iusto a ut praesentium
      voluptatem!</p>
    <div class="r-w">
      <div class="products__grid">
        @* @foreach (var product in productProviderService.Products.ToList())
          {
          <ItemCard id=@product.Id title=@product.Name imgUrl=@product.img_Url price=@product.Price
          description=@product.Description />
          } *@
      </div>
      <div class="receipt__container">
        <p class="sub-title bold">Here are your products</p>
        <h3> Shopping Cart </h3>
        @* @foreach (var cart_item in storeService.shoppingCart)
          {

          <div style="border: 1px solid red; margin-bottom: 10px">
          <p class="bold">Cart Title: @cart_item.CartTitle</p>
          <p>CartId : @cart_item.CartId</p>
          <p>Cart Key: @cart_item.CartKey</p>

          </div>
          } *@


        <div>

        </div>


        <hr>
      </div>
    </div>
  </div>
</div>


@code {







}