// Pages Styles


@import "../../Pages/Home/Home";
@import "../../Pages/About/About";
@import "../../Pages/Contact/Contact";
@import "../../Pages/Products/Products";
@import "../../Pages/Services/Services";

// Shared Styles
@import "./Shared/Navbar";
@import "./Shared/HomeHeader";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.app__container-width {
  width: 95%;
  max-width: 1200px;
  // Smaller screen sizes make it 100%
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-light {
  background-color: rgb(114, 113, 113);
}

.btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all ease-in-out var(--timer-short);
}

.col {
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  align-items: center;
}

.bold{
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  i{
    color: var(--accent-color);
    font-size: 1.4rem;
  }
}