// Pages Styles

@import "../../Pages/CreateDeck/CreateDeck";
@import "../../Pages/Practise/Practise";
@import "../../Pages/Home/Home";
@import "../../Pages/Help/Help";

// Shared Styles
@import "./Shared/Navbar";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 110, 255);
}

.app__container-width {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
