// Pages Styles

@import "../../Pages/Home/Home";
@import "../../Pages/About/About";
@import "../../Pages/Contact/Contact";
@import "../../Pages/Products/Products";
@import "../../Pages/Services/Services";

// Shared Styles
@import "./Shared/Navbar";
@import "./Shared/HomeHeader";
@import "./Shared/Footer";
@import "./Shared/MobileNavbar";
@import "./Shared/PageHeader";
@import "./Shared/ServiceCard";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
}

.page__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 7rem;
  padding-bottom: 7rem;
  @media screen and (max-width: 600px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.button__container {
  display: flex;
  gap: 20px;
  margin-top: 0.5rem;
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.app__container-width {
  width: 95%;
  max-width: 1200px;
  // Smaller screen sizes make it 100%
}

.row__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-light {
  background-color: rgb(114, 113, 113);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all ease-in-out var(--timer-short);
  border: none;
  cursor: pointer;
  max-width: 300px;
  text-align: center;
  @media screen and (max-width: 600px) {
   width: 100%;
   max-width: 100%;
  }
  

}

.btn.btn-line {
  border: 1px solid var(--grey-600);
  background-color: white;
  color: var(--grey-600);
  &:hover {
    background-color: var(--grey-600);
    color: white;
  }
}

.btn.btn-green {
  background-color: var(--accent-color);
  color: var(--white-color);
  &:hover {
    background-color: var(--accent-color-hover);
  }
}

.btn.btn-white {
  background-color: var(--white-color);
  color: var(--grey-700);
  &:hover {
    background-color: rgb(202, 202, 202);
  }
}

.btn.btn-black {
  background-color: var(--black-100);
  color: var(--white-color);
  &:hover {
    background-color: var(--grey-700);
  }
}

.col {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  align-items: center;
}

.bold {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  i {
    color: var(--accent-color);
    font-size: 1.4rem;
  }
}


.head-text {
  color: var(--grey-700);
  line-height: 38px;
}

.p-text {
  color: var(--grey-600);
}

.bold {
  font-weight: bold;
}

.bg-dark {
  background-color: var(--black-100);
}

.bg-light{
  background-color: var(--grey-100);
}

.btn__container{
  display: flex;
  gap: 10px;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 10px;
   }
}

.sub-title {
  color: var(--accent-color);
}