.nav__bg {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(128, 128, 128, 0.315);
  width: 100%;
  position: absolute;
  font-size: 0.93rem;
  font-weight: bold;
}

.nav__bg nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__bg nav .logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  color: var(--accent-color);
  text-decoration: none;
}

.nav__bg nav .logo__link i {
  font-size: 2.1rem;
}

.nav__bg nav .nav__links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__bg nav .nav__links-container .nav-link {
  padding: 1.5rem 1rem;
  text-decoration: none;
  -webkit-transition: ease-in-out all var(--timer-short);
  transition: ease-in-out all var(--timer-short);
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  color: var(--white-color);
}

.nav__bg nav .nav__links-container .nav-link.active {
  border-bottom: 2px solid var(--accent-color);
  color: var(--accent-color);
  height: 100%;
}

.nav__bg nav .nav__links-right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.nav__bg nav .nav__links-right-container .navbar__contact.btn {
  background-color: var(--white-color);
  color: var(--grey-700);
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  font-size: 0.93rem;
}

.nav__bg nav .nav__links-right-container .navbar__contact.btn:hover {
  background-color: #cacaca;
}

.nav__bg nav .nav__links-right-container i {
  background-color: var(--accent-color);
  font-size: 1rem;
  margin-left: 1rem;
  padding: 0.6rem;
  border-radius: 100%;
  color: var(--white-color);
}

.logo__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white-color);
}

.logo__col h1 {
  font-size: 1.7rem;
  margin-bottom: 0.1rem;
}

.logo__col h3,
.logo__col h1 {
  line-height: 16px;
  margin-top: 0.3rem;
}

.logo__col p {
  font-weight: 500;
  font-size: 0.8rem;
}

.header__container {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(0, 0, 0, 0.952)), to(rgba(117, 19, 93, 0))), url("/Assets/homeHeader.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.952) 1%, rgba(117, 19, 93, 0)), url("/Assets/homeHeader.jpg");
  background-position: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
}

.header__container .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container .header__content h1,
.header__container .header__content p {
  color: var(--white-color);
  width: 100%;
}

.header__container .header__content h1 {
  font-size: 4.5rem;
  max-width: 700px;
  line-height: 65px;
  margin-bottom: 1rem;
}

.header__container .header__content p {
  font-size: 1.1rem;
  max-width: 700px;
}

.header__container .header__content .header__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  gap: 20px;
}

.header__container .header__content .header__btn-container .btn {
  gap: 5px;
  padding: 1rem 1.5rem;
  font-weight: bold;
}

.header__container .header__content .header__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 270px;
  width: 100%;
  background-color: var(--white-color);
  padding: 1rem;
  -webkit-box-shadow: var(--box-shadow-2);
          box-shadow: var(--box-shadow-2);
}

.header__container .header__content .header__card img {
  width: 100%;
  -webkit-box-shadow: var(--box-shadow-4);
          box-shadow: var(--box-shadow-4);
  margin-bottom: 1rem;
}

.header__container .header__content .header__card h2 {
  line-height: 20px;
  margin-bottom: 1rem;
  text-align: center;
}

.header__container .header__content .header__card h2,
.header__container .header__content .header__card p {
  color: var(--grey-500);
  text-align: center;
}

.header__container .header__content .header__card p {
  font-size: 1rem;
  line-height: 18px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app__container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app__container-width {
  width: 95%;
  max-width: 1200px;
}

.app__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-light {
  background-color: #727171;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: all ease-in-out var(--timer-short);
  transition: all ease-in-out var(--timer-short);
}

.btn.btn-green {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.btn.btn-green:hover {
  background-color: var(--accent-color-hover);
}

.btn.btn-white {
  background-color: var(--white-color);
  color: var(--grey-700);
}

.btn.btn-white:hover {
  background-color: #cacaca;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  font-weight: 600;
}

.bold i {
  color: var(--accent-color);
  font-size: 1.4rem;
}
/*# sourceMappingURL=main.css.map */