@page "/CreateDeck"

<div class="app__flex ">
  <div class="app__container-width">

    <p>What is the name of your Deck?</p>
    <input type="text" @bind="newDeckName">

    <button @onclick="AddNewCard">Add card</button>

    @foreach (var card in deck)
    {
      <CreateCard question="Hello" />
    }

  </div>
</div>




@code {
  private List<CardItem> deck = new();
  private string? newDeckName;

  private void AddNewCard()
  {
    deck.Add(new CardItem { });
    Console.WriteLine(deck);
  }
}