@page "/CreateDeck"

<div class="app__flex ">
  <div class="app__container-width">

    <p>What is the name of your Deck?</p>
    <input type="text" @bind="newDeckName">

    <button @onclick="AddNewCard">Add card</button>

    @foreach (var card in deck)
    {
      <CreateCard cardNumber=card.cardNumber />
    }
    <button @onclick="PublishDeck"> Publish Deck</button>

  </div>
</div>




@code {
  private List<CardItem> deck = new();
  private string? newDeckName;
  private int cardCount = 0;

  private void AddNewCard()
  {
    cardCount += 1;
    deck.Add(new CardItem { cardNumber = cardCount });
    Console.WriteLine(deck);
  }

  private void PublishDeck()
  {
    Console.WriteLine("Publish Deck");
    cardCount = 0;
  }
}