@page "/About"

<PageHeader title="About Us" img="./Assets/head4.jpg" />
<div class="page__container app__flex">
  <div class="app__container-width row about__details-container">
    <img src="./Assets/team.jpg" alt="">
    <div class="col">
      <p class="sub-title bold p-text">Some info on us</p>
      <h1 class="head-text">
        What our team has accomplished
      </h1>
      <p class="p-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam possimus ea ratione velit,
        dicta neque aspernatur repellendus ab doloremque accusantium. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Consequatur quis perferendis qui ab ipsa vel, quae asperiores ex excepturi sapiente?</p>
      <ul>
        <li class="p-text"> <i class="fa-regular fa-circle"></i> Lorem ipsum dolor, sit amet consectetur adipisicing
          elit. amet consectetur adipisicing
          elit.</li>
        <li class="p-text"> <i class="fa-regular fa-circle"></i> Lorem ipsum dolor, sit adipisicing
          elit.</li>
        <li class="p-text"> <i class="fa-regular fa-circle"></i> Lorem ipsum dolor, sit amet consectetur adipisicing
          elit.</li>
        <li class="p-text"> <i class="fa-regular fa-circle"></i> consectetur adipisicing
          elit.</li>
      </ul>
    </div>
  </div>
  <div class="app__container-width about__stats-grid">
    <div class="stats__card">
      <i class="fa-solid fa-eye"></i>
      <h3>743+</h3>
      <p class="p-text">Cameras Installed</p>
    </div>
    <div class="stats__card">
      <i class="fa-solid fa-shield-halved"></i>
      <h3>1040+</h3>
      <p class="p-text">Homes protected</p>
    </div>
    <div class="stats__card">
      <i class="fa-solid fa-lock-open"></i>
      <h3>1032+</h3>
      <p class="p-text">Electric door strikes</p>
    </div>
    <div class="stats__card">
      <i class="fa-solid fa-key"></i>
      <h3>48+</h3>
      <p class="p-text">Key systems</p>
    </div>
    <div class="stats__card">
      <i class="fa-solid fa-building-shield"></i>
      <h3>743+</h3>
      <p class="p-text">Apartments saved</p>
    </div>
    <div class="stats__card">
      <i class="fa-solid fa-hands-holding-child"></i>
      <h3>3000+</h3>
      <p class="p-text">Happy customers</p>
    </div>
  </div>
</div>
<div class="app__flex page__container bg-light">
  <div class="app__container-width">
    <p class="sub-title bold p-text">Get to know our team</p>
    <h1 class="head-text">Who is Sekure Security ?</h1>
    <p class="p-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, doloremque? Eius sit
      blanditiis sed nemo aliquid, iure, voluptatibus aperiam dolor animi nesciunt sunt aliquam quis, veniam eos tenetur
      ipsum quasi.</p>
    <div class="team__grid">
      <div class="bar__card">
        <h3>Johnathon Smith</h3>
        <p class="p-text bold sub-title">Ceo of Sekure Security</p>
        <p class="p-text">Lorem <b>ipsum dolor sit</b>  amet consectetur adipisicing elit. Numquam quam similique corrupti
          ratione ipsum odio error at doloribus vel inventore lau</p>
      </div>
      <div class="bar__card">
        <h3>Martha Stewert</h3>
        <p class="p-text bold sub-title">Cheif of Services</p>
        <p class="p-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. or at <b>entore laudantium</b>  quo, impedit sint delectus perspiciatis
          incidunt eveniet dolores quos?</p>
      </div>
      <div class="bar__card">
        <h3>Jessica Barber</h3>
        <p class="p-text bold sub-title">Communications Director</p>
        <p class="p-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam <b>quam similique</b>  corrupti
          ratione ipsum odio error at doloribus vel inventore laudantium </p>
      </div>
      <div class="bar__card">
        <h3>Bill Murrey</h3>
        <p class="p-text bold sub-title">HR Manager</p>
        <p class="p-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quam similique corrupti
          ratione ipsum odio error </p>
      </div>
      <div class="bar__card">
        <h3>Bill Murrey</h3>
        <p class="p-text bold sub-title">Head Marketting agent </p>
        <p class="p-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quam similique corrupti
          ratione ipsum odio error </p>
      </div>
      <div class="bar__card">
        <h3>Bill Murrey</h3>
        <p class="p-text bold sub-title">Head installations service member</p>
        <p class="p-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quam similique corrupti
          ratione ipsum odio error </p>
      </div>
    </div>
  </div>
</div>



@code {

}