@page "/home"


<HomeHeader />
<div class="app__flex page__container">
  <div class="app__container-width ">
    <div class="row__container home__info-container">
      <div class="home__info-details">
        <h1 class="head-text">
          Protection Against intruders fires, waters & more. For every window, room and door. 
        </h1>
        <h1></h1>
        <p class="p-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non corrupti illo deleniti doloribus
          exercitationem consequatur culpa quaerat porro officia, voluptates earum. Architecto quos aliquid quam vel
          suscipit tenetur officiis soluta. tecto quos aliquid quam vel
          suscipit tenetur officiis soluta.
          <br><br>
          culpa quaerat porro officia, voluptates earum. Architecto quos aliquid quam vel
          suscipit tenetur officiis soluta.
        </p>
        <p class="p-text bold">More protection with monitoring</p>
        <div class="home__info-grid">
          <p class="bold"><i class="fa-regular fa-circle"></i>Start Home Security</p>
          <p class="bold"><i class="fa-regular fa-circle"></i>Doorbell Video Cameras</p>
          <p class="bold"><i class="fa-regular fa-circle"></i>Professional Installations</p>
          <p class="bold"><i class="fa-regular fa-circle"></i>Burglary Sensor Detection</p>
          <p class="bold"><i class="fa-regular fa-circle"></i>In Home Consultation</p>
          <p class="bold"><i class="fa-regular fa-circle"></i>24/7 Alarm monitoring</p>
        </div>
        <div class="btn__container">
          <a href="services" class="btn btn-green ">Products and Solutions <i class="fa-solid fa-angle-right"></i></a>
          <a href="contact" class="btn btn-black">Contact Us</a>
        </div>
      </div>
      <img src="./Assets/securityImage.jpg" alt="">
    </div>
  </div>
</div>
<div class="app__flex page__container matters__bg">
  <div class="app__container-width">
    <h1 class="head-text">Protect what matters most!</h1>
    <p class="p-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam neque eligendi exercitationem ad nemo quia ab in.
      Molestias, tempore ab modi, aliquam saepe ducimus, voluptatem quod necessitatibus quaerat eaque doloribus? tempore
      ab modi, aliquam saepe ducimus, voluptatem quod necessitatibus quaerat eaque doloribus?
    </p>
    <div class="matters__grid">
      <div class="matters__card">
        <h1>01</h1>
        <p>Pharmacuetic & Biotech</p>
      </div>
      <div class="matters__card">
        <h1>02</h1>
        <p>Manufacturing & Logistics</p>
      </div>
      <div class="matters__card">
        <h1>03</h1>
        <p>Commercial Buildings</p>
      </div>
      <div class="matters__card">
        <h1>04</h1>
        <p>Educational Buildings</p>
      </div>
      <div class="matters__card">
        <h1>05</h1>
        <p>Healthcase Buildings</p>
      </div>
    </div>
  </div>
</div>
<div class="page__container app__flex">
  <div class="app__container-width">
    <div class="row__container smart__container">
      <div>
        <p class="accent-text bold">Find peace of mind with 24/7 monitoring</p>
        <h1 class="head-text">Smart security systems that fits your business!</h1>
      </div>
      <div>
        <p class="p-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quidem est dolorum ex officia, animi unde nulla soluta velit sapiente provident doloribus ab numquam aspernatur iure vero blanditiis mollitia totam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, laudantium.</p>
        <div class="btn__container">
          <a class="btn btn-black">How does it work?</a>
          <a class="btn btn-line">Check all services</a>
        </div>
      </div>
    </div>
  </div>
</div>


@code {

}