@page "/home"

<HomeHeader />
<div class="app__flex page__container">
  <div class="app__container-width ">
    <div class="row__container">
      <div class="home__info-details">
        <h1 class="head-text">
          Protection Against intruders fires, waters & more. For every window, room and door.
        </h1>
        <p class="p-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non corrupti illo deleniti doloribus
          exercitationem consequatur culpa quaerat porro officia, voluptates earum. Architecto quos aliquid quam vel
          suscipit tenetur officiis soluta.</p>
        <p class="p-text bold">More protection with monitoring</p>
        <div class="home__info-grid">
          <p class="bold"><i class="fa-regular fa-circle"></i>Start Home Security</p>
          <p class="bold"><i class="fa-regular fa-circle"></i>Doorbell Video Cameras</p>
          <p class="bold"><i class="fa-regular fa-circle"></i>Professional Installations</p>
          <p class="bold"><i class="fa-regular fa-circle"></i>Burglary Sensor Detection</p>
          <p class="bold"><i class="fa-regular fa-circle"></i>In Home Consultation</p>
          <p class="bold"><i class="fa-regular fa-circle"></i>24/7 Alarm monitoring</p>
        </div>
        <div class="button__container">
          <a href="services" class="btn btn-green">Products and Solutions</a>
          <a href="contact" class="btn btn-black">Contact Us</a>
        </div>
      </div>
      <img src="./Assets/securityImage.jpg" alt="">
    </div>

  </div>

</div>

@code {

}