@page "/Footer"

<footer class="app__flex bg-dark col">
  <div class="app__container-width footer__container">
    <div class="footer__top">
      <div class="logo__container">
        <i class="fa-solid fa-user-secret"></i>
        <div class="col">
          <h2>Sekure Security Services</h2>
          <p>Home Security Systems</p>
        </div>
      </div>

      <div class="socials__container">
        <a href="www.instagram.com"><i class="fa-brands fa-twitter"></i></a>
        <a href="www.instagram.com"><i class="fa-brands fa-facebook"></i></a>
        <a href="www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
    <div class="footer__middle-content">
      <div class="col">
        <h2>About Us</h2>
        <p class="p-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi at deleniti ullam nobis quidem quaerat repellendus facere voluptatum provident ex porro sint consequuntur ad eum esse, cum omnis eos quis!</p>
        <a href="about" class="btn">More About Us</a>
      </div>
      <div class="col">
        <h2>Contact</h2>
        <ul>
          <li class="p-text"> <i class="fa-solid fa-phone"></i> 03-872-431-589</li>
          <li class="p-text"> <i class="fa-solid fa-envelope"></i> sekure@securtiy.com.au</li>
          <li class="p-text"><i class="fa-solid fa-location"></i>Hoppers Crossing 32 Ave road</li>
        </ul>
      </div>
      <div class="col">
        <h2>Links</h2>
        <a href="home">Home</a>
        <a href="products">Products</a>
        <a href="services">Services</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
      </div>
      <div class="col newsletter">
        <h2>Newsletter</h2>
        <input type="text" placeholder="bomb@cheesemaker.com.au">
        <p class="p-text">Subscribe to our newsletter to get an update on our newst products. </p>
      </div>
    </div>
  </div>
</footer>

@code {

}