@page "/Footer"

<footer class="app__flex bg-dark">
  <div class="app__container-width footer__content ">
    <h1>Protect your home or business with our unique solutions</h1>
    <p class="p-text">From large enterprises to local business security platforms, from simple camera solutions for
      small offices to
      complex enterprise class video systems for large campuses.</p>
    <div class="button__container">
      <a class="btn btn-green bold" href="services">Discover More Info</a>
      <div>
        <i class="fa-solid fa-phone"></i>
        <div class="phone__container">
          <p>Call 24HR/7 Days</p>
          <h2>03 410 98325</h2>
        </div>
      </div>
    </div>
  </div>
</footer>

@code {

}