<div class="header__container app__flex">
  <div class="app__container-width">
    <h1>Smart Security Systems for the modern world</h1>
    <p class="p-text">We provide security requirements of residential, commercial and other clients, with the largest assortment of
      security cameras and alarm systems installation.</p>
    <div class="header__btn-container">
      <NavLink class="btn btn-green" href="Services">Explore Our Services <i class="fa-solid fa-chevron-right"></i></NavLink>
      <NavLink class="btn " href="contact">More About Us</NavLink>
    </div>
  </div>

</div>


@code {

}