<div class="header__container app__flex">
  <div class="app__container-width">
    <div class="header__content">
      <div>
        <h1>Smart Security Systems for the modern world</h1>
        <p class="p-text">We provide security requirements of residential, commercial and other clients, with the
          largest
          assortment of
          security cameras and alarm systems installation.</p>
        <div class="header__btn-container">
          <NavLink class="btn btn-green" href="Services">Explore Our Services <i class="fa-solid fa-chevron-right"></i>
          </NavLink>
          <NavLink class="btn btn-white" href="contact">More About Us</NavLink>
        </div>
      </div>
      <div class="header__card">
        <h2>Custom Alerts For Friends And Family</h2>
        <img src="./Assets/homeCardImage.jpg" alt="">
        <p class="p-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat doloremque eligendi quo
          debitis, rem.</p>
        <a href="services"><i class="fa-solid fa-circle-arrow-right"></i> Protect Your Home</a>
      </div>
    </div>
  </div>
</div>


@code {

}