<div class="item__card-container" style="background-image: url(@imgUrl);">
  <div class="item__card-content">
    <div class="row">
      <p class="sub-title bold">@title</p>
      <h1>$@price.00</h1>
    </div>

    <p class="p-text">@description</p>
    <button @onclick="AddItem" class="btn btn-green"><i class="fa-solid fa-cart-shopping"></i>Add to cart</button>
  </div>
</div>


@code {
  [Parameter]
  public Guid id { get; set; }
  [Parameter]
  public string title { get; set; } = "Item";
  [Parameter]
  public string description { get; set; } = "Example Text";
  [Parameter]
  public double price { get; set; } = 0;
  [Parameter]
  public string imgUrl { get; set; } = "";

  public void AddItem()
  {
    Console.WriteLine("ID of Item: " + id);

  }
}