<div class="item__card-container" style="background-image: url(@imgUrl);">
  <div class="item__card-content">
    <p class="sub-title">@title</p>
    <h1>@price</h1>
    <p class="p-text">@description</p>

  </div>
</div>

@code {
  [Parameter]
  public Guid id { get; set; }
  [Parameter]
  public string title { get; set; } = "Item";
  [Parameter]
  public string description { get; set; } = "Example Text";
  [Parameter]
  public double price { get; set; } = 0;
  [Parameter]
  public string imgUrl { get; set; } = "";
<<<<<<< HEAD

<<<<<<< HEAD
<<<<<<< HEAD
  //https://blazorschool.com/tutorial/blazor-server/dotnet6/create-product-list-page-396854 BUG RELEVANT

  public void AddItem()
  {

  }


=======
=======
>>>>>>> parent of 51aa743 (Basic Shopping Cart Setup)
  public void AddItem(){
    Console.WriteLine("ID of Item: " + id);
    
  }
>>>>>>> parent of 51aa743 (Basic Shopping Cart Setup)
=======
>>>>>>> parent of 31cffd1 (Products Styling and Shopping cart added)
}