<nav class="mobile__nav app__flex">
  <div class="app__container-width">
    <NavLink class="logo__link" href="home" Match="NavLinkMatch.All">
      <i class="fa-solid fa-user-secret"></i>
      <div class="logo__col">
        <h1>Sekure.</h1>
        <p>Home Security Systems</p>
      </div>
    </NavLink>
    <button @onclick="ToggleMobileNav"><i class="fa-solid fa-bars"></i></button>
  </div>
  <div class="mobile__nav-screen @mobileActive">Mobile Nav Screen</div>
</nav>


@code {

  private bool toggle = false;
  private string mobileActive = "";

  public void ToggleMobileNav()
  {
    if (toggle == false)
    {
      toggle = true;
      mobileActive = "active";
    }
    else
    {
      toggle = false;
      mobileActive = "";
    }
  }
}