@page "/Navbar"

<nav>
  <h2>Card<span>Storm</span></h2>

  <div class="nav__links-container">
    <NavLink href="" Match="NavLinkMatch.All">
      Home
    </NavLink>
    <NavLink href="C">

    </NavLink>
  </div>



</nav>

@code {

}