@page "/Navbar"

<div class="nav__container app__flex">
  <nav class="app__container-width">
    
    <NavLink class="logo__link" href="" Match="NavLinkMatch.All">
      <i>Logo Here</i>
      <h1>Sekure Security</h1>
    </NavLink>

    <div class="nav__links-container">
      <NavLink href="/">Home</NavLink>
      <NavLink href="Products">Products</NavLink>
      <NavLink href="Services">Services & Industries</NavLink>
      <NavLink href="About">About</NavLink>
    </div>
  </nav>
</div>

@code {

}