@page "/Navbar"

<div class="nav__container app__flex">
  <nav class="app__container-width">
    <div class="nav__left">
      <NavLink class="logo__link nav-link" href="">
        <i class="fa-solid fa-otter"></i>
        <div class="col">
          <p class="bold"> Otter Cards</p>
          <p class="logo__sub-text">Start your learning</p>
        </div>
      </NavLink>


      <div class="nav__links-container">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
          <span>Dashboard</span>
        </NavLink>
        <NavLink class="nav-link" href="Help">
          Help
        </NavLink>
         <NavLink class="nav-link" href="Profile">
          Profile
        </NavLink>
      </div>
    </div>
    <div class="nav__right">
      <NavLink class="btn create__btn" href="CreateDeck">
        + Create a new deck
      </NavLink>
      <div class="row">
        <div class="profile__img-container">

        </div>
        <div class="col">
          <p class="">Keanu Barnard</p>
          <p class="">ID : 0543213</p>
        </div>
      </div>
    </div>
  </nav>
</div>

@code {

}