@page "/Navbar"

<nav>
  <NavLink>
    <h2>Card<span>Storm</span></h2>
  </NavLink>

  <div class="nav__links-container">
    <NavLink href="" Match="NavLinkMatch.All">
      Home
    </NavLink>
    <NavLink href="Help">
      Help
    </NavLink>
  </div>

  <NavLink href="CreateDeck">
    Create
  </NavLink>
</nav>

@code {

}