.mobile__nav {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(128, 128, 128, 0.315);
  width: 100%;
  position: absolute;
  font-size: 0.93rem;
  font-weight: bold;
  padding: 1rem 0rem;
  div{
    display: flex;
    justify-content: space-between;
    .logo__link {
      display: flex;
      align-items: center;
      gap: 13px;
      color: var(--accent-color);
      text-decoration: none;
      i {
        font-size: 2.1rem;
      }
    }
    button{
      font-size: 2rem;
      color: var(--white-color);
      background-color: rgba(255, 255, 255, 0);
      border: none;
      cursor: pointer;
    }
  
  }
  
  @media screen and (min-width: 800px) {
    display: none !important;
    div{
      display: none;
    }
  }

  .mobile__nav-screen{
    display: none;
    background-color: red;
  }
  .mobile__nav-screen.active{
    display: flex;
  }
}
